apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: aws-ssm
  namespace: keycloak
spec:
  provider:
    aws:
      service: ParameterStore
      region: us-east-2
      auth:
        jwt:
          serviceAccountRef:
            name: external-secrets-sa
